@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 70 48% 94%;
    --foreground: 137 30% 15%;
    --card: 70 48% 98%;
    --card-foreground: 137 30% 15%;
    --popover: 70 48% 98%;
    --popover-foreground: 137 30% 15%;
    --primary: 137 28% 34%;
    --primary-foreground: 70 30% 95%;
    --secondary: 137 20% 55%;
    --secondary-foreground: 0 0% 98%;
    --muted: 137 20% 85%;
    --muted-foreground: 137 20% 40%;
    --accent: 180 43% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 137 20% 75%;
    --input: 137 20% 90%;
    --ring: 180 43% 50%;
    --chart-1: 137 28% 34%;
    --chart-2: 180 43% 50%;
    --chart-3: 137 20% 55%;
    --chart-4: 70 48% 74%;
    --chart-5: 137 30% 20%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 140 15% 10%;
    --foreground: 140 10% 80%;
    --card: 140 15% 12%;
    --card-foreground: 140 10% 80%;
    --popover: 140 15% 10%;
    --popover-foreground: 140 10% 80%;
    --primary: 137 28% 44%;
    --primary-foreground: 0 0% 98%;
    --secondary: 137 20% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 137 20% 20%;
    --muted-foreground: 137 10% 50%;
    --accent: 180 43% 60%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 137 20% 25%;
    --input: 137 20% 22%;
    --ring: 180 43% 60%;
    --chart-1: 137 28% 44%;
    --chart-2: 180 43% 60%;
    --chart-3: 137 20% 35%;
    --chart-4: 70 30% 50%;
    --chart-5: 137 30% 70%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
